<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="fplus-info">
                    <a href="" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
                    <h4>Công ty cổ phần FPlus</h4>
                    <p>275 Nguyễn Trãi, P. Thanh Xuân Trung, Q. Thanh Xuân, TP Hà Nội</p>
                    <p>Hotline: <a href="tel:18006388">18006388</a></p>
                </div>
            </div>
            <div class="col-lg-2 col-md-3">
                <div class="fplus-link">
                    <h4>Công ty</h4>
                    <ul class="link">
                        <li><a href="" title="Giới thiệu">Giới thiệu</a></li>
                        <li><a href="" title="Tuyển dụng">Tuyển dụng</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="fplus-link">
                    <h4>Điều khoản và điều kiện</h4>
                    <ul class="link">
                        <li><a href="" title="Chính sách bảo mật thông tin">Chính sách bảo mật thông tin</a></li>
                        <li><a href="" title="Chính sách bảo quản tài sản">Chính sách bảo quản tài sản</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">© 2020 Flus – Bản quyền đã được bảo hộ</div>
            </div>
        </div>
    </div>
    <div class="contact-link">
        <a href="" title=""><img src="./assets/img/fb.svg" alt=""></a>
        <a href="" title=""><img src="./assets/img/zalo.png" alt=""></a>
    </div>
</footer>