<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="logo"><img src="./assets/img/logo.svg" alt=""></a>
            <div class="navbar-collapse" id="navbar">
                <ul class="navbar-nav flex">
                    <li><a href="" title="Trang chủ">Trang chủ</a></li>
                    <li>
                        <a href="javascript:;" title="Cho vay cầm cố">Cho vay cầm cố</a>
                        <ul class="sub-menu">
                            <li><a href="" title=""><i class="icon icon-moto"></i> Đăng ký vay xe máy</a></li>
                            <li><a href="" title=""><i class="icon icon-oto"></i>Đăng ký vay ô tô</a></li>
                        </ul>
                    </li>
                    <li><a href="" title="Đáo hạn ngân hàng">Đáo hạn ngân hàng</a></li>
                    <li><a href="/tin-tuc.html" title="Tin tức">Tin tức</a></li>
                    <li><a href="" title="Liên hệ">Liên hệ</a></li>
                </ul>
            </div>
            <a href="tel:1900 6688" class="hotline flex-center"><i class="icon icon-phone"></i> 1900 6688</a>
        </nav>
        <div class="modal-navbar"></div>
    </div>
</header>
