<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/aos.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/aos.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $(document).ready(function () {
        $('.feedback__list').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            dots: true,
            arrows: true,
            prevArrow: '.feedback__nav .feedback-prev',
            nextArrow: '.feedback__nav .feedback-next',
            appendDots: $('.feedback__nav .feedback-dots'),
        });
        $('.news-list').slick({
            centerMode: false,
            slidesToShow: 4,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            dots: false,
            arrows: true,
            responsive: [
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                    }
                }
            ]
        });

        $('.fplus-banner').slick({
            centerMode: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite: true,
            centerPadding: 0,
            autoplay: true,
            dots: true,
            arrows: false,
        });

        $('.f-input-effect').click(function () {
            $(this).addClass('focus');
        });
        $(document).mouseup(function (e) {
            var form_group = $('.f-input-effect');
            if (!form_group.is(e.target) && form_group.has(e.target).length === 0) {
                $('.f-input-effect').removeClass('focus');
            }
        });
        var item_input = $('.f-input-effect .form-control');
        $(item_input).on('change', function () {
            if ($(this).val().length > 0) {
                $(this).parent().addClass('filled');
            } else {
                $(this).parent().removeClass('filled');
            }
        });

        AOS.init({
            easing: 'ease-out-back',
            duration: 1000,
            once: true,
            offset: 20,
        });
    });
</script>
<script>

</script>
</body>
</html>