<main>
    <div class="fplus-contact-page pr">
        <div class="header flex-center">
            <h1>Liên hệ với chúng tôi</h1>
        </div>
        <div class="container">
            <div class="bg-white">
                <div class="fplus-breadcrumb">
                    <ul class="breadcrumb container">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
                    </ul>
                </div>
                <div class="contact-list flex">
                    <a href="tel:18006388" class="item flex aos-init" data-aos="fade-up" data-aos-duration="1000">
                        <div class="icon"><img src="./assets/img/phone.svg" alt=""></div>
                        <div class="content">
                            <h5>Hotline:</h5>
                            <span>1800 6388</span>
                        </div>
                    </a>
                    <a href="mailto:chamsockhachhang@f88.vn" class="item flex aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                        <div class="icon"><img src="./assets/img/email.svg" alt=""></div>
                        <div class="content">
                            <h5>Email:</h5>
                            <span>chamsockhachhang@f88.vn</span>
                        </div>
                    </a>
                    <div class="item flex aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                        <div class="icon"><img src="./assets/img/location.svg" alt=""></div>
                        <div class="content">
                            <h5>số 275 Nguyễn Trãi, P.Thanh Xuân Trung, Thanh Xuân, Hà Nội.</h5>
                        </div>
                    </div>
                </div>
                <div class="note aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">Để lại lời nhắn hoặc phản hồi, chúng tôi sẽ sớm giải đáp cho bạn nhanh nhất có thể. FPlus xin cảm ơn.</div>
                <div class="row">
                    <div class="col-md-5">
                        <div class="fplus-form pr">
                            <form action="" method="">
                                <div class="form-group">
                                    <label>Họ và tên</label>
                                    <input type="text" name="fullname" placeholder="Nhập họ tên" required>
                                </div>
                                <div class="form-group">
                                    <label>Nhập số điện thoại</label>
                                    <input type="number" name="phone" placeholder="Nhập số điện thoại" required>
                                </div>
                                <div class="form-group">
                                    <label>Tiêu đề</label>
                                    <input type="text" name="title" placeholder="Nhập tiêu đề" required>
                                </div>
                                <div class="form-group">
                                    <label>Nội dung</label>
                                    <textarea placeholder="Nhập nội dung"></textarea>
                                </div>
                                <button type="button" class="btn-submit flex-center">Gửi thông tin</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="fplus-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6590.371502948632!2d106.6705522584577!3d10.83743691786849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752921002be9d3%3A0x8d65e8b54bc09a01!2zMjM4IE5ndXnhu4VuIE9hbmgsIFBoxrDhu51uZyAxNywgR8OyIFbhuqVwLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sfr!2s!4v1680677861812!5m2!1sfr!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>