<main>
    <div class="fplus-banner">
        <a href="" title=""><img src="./assets/img/banner.png" alt=""></a>
        <a href="" title=""><img src="./assets/img/banner.png" alt=""></a>
        <a href="" title=""><img src="./assets/img/banner.png" alt=""></a>
    </div>
    <div class="fplus-service pr">
        <div class="container">
            <div class="service">
                <h1>Dịch vụ nổi bật FPlus được nhiều khách hàng sử dụng</h1>
                <ul class="service-list nav tab flex">
                    <li><a href="#bank" data-toggle="tab" class="active" title="">Đáo hạn ngân hàng</a></li>
                    <li><a href="#moto" data-toggle="tab" title="">Đăng ký vay xe máy</a></li>
                    <li><a href="#oto" data-toggle="tab" title="">Đăng ký vay ô tô</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div id="bank" class="tab-pane fade show active">
                    <div class="pane flex-lc">
                        <div class="pane-left aos-init" data-aos="fade-up" data-aos-duration="1000">
                            <h3>Gói vay đáo hạn ngân hàng</h3>
                            <ul class="check-list">
                                <li>Duyệt nhanh siêu tốc</li>
                                <li>Giải quyết mọi hồ sơ khó</li>
                                <li>Bảo mật thông tin 100%</li>
                                <li>Không chứng minh thu nhập</li>
                            </ul>
                            <a href="" title="" class="btn-vayngay flex-center">Vay ngay</a>
                        </div>
                        <div class="pane-right">
                            <div class="img-wrapper">
                                <img src="./assets/img/goivay.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="moto" class="tab-pane fade"></div>
            </div>
        </div>
    </div>
    <div class="fplus-feature">
        <div class="container">
            <div class="header">
                <h2 class="title">Tại sao lựa chọn Flus</h2>
                <p>Giải pháp tài chính đáng tin cậy</p>
            </div>
            <div class="feature-list flex">
                <div class="feature aos-init" data-aos="fade-up" data-aos-duration="1000">
                    <div class="feature__icon"><img src="./assets/img/icon-f1.svg" alt=""></div>
                    <div class="feature__text">15 phút là có tiền</div>
                </div>
                <div class="feature aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="feature__icon"><img src="./assets/img/icon-f2.svg" alt=""></div>
                    <div class="feature__text">Bảo mật thông tin</div>
                </div>
                <div class="feature aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <div class="feature__icon"><img src="./assets/img/icon-f3.svg" alt=""></div>
                    <div class="feature__text">Hợp đồng minh bạch</div>
                </div>
                <div class="feature aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                    <div class="feature__icon"><img src="./assets/img/icon-f4.svg" alt=""></div>
                    <div class="feature__text">Nhiều khách hàng lựa chọn</div>
                </div>
            </div>
        </div>
    </div>
    <div class="fplus-feedback pr">
        <div class="container">
            <div class="feedback flex">
                <div class="feedback__img aos-init" data-aos="fade-right" data-aos-duration="1000">
                    <img src="./assets/img/feedback.png" alt="">
                </div>
                <div class="feedback__content">
                    <h2 class="title">Được tin dùng bởi <br> <span>1,000,000+</span> khách hàng</h2>
                    <div class="feedback__list pr">
                        <div class="item">
                            <div class="text">Tôi đã vay 10 triệu bằng đăng ký xe máy để đóng học phí đầu năm cho con sau khi được chị đồng nghiệp giới thiệu về FPlus. Tôi cảm thấy các bước vay tại hệ thống FPlus rất dễ dàng và nhanh chóng. Mọi thủ tục đều được nhân viên giải đáp đầy đủ. Tôi rất hài lòng vì chỉ chờ 15 phút đã </div>
                            <div class="author flex">
                                <div class="author__img"><img src="./assets/img/img-news8.jpg" alt=""></div>
                                <div class="author__content">
                                    <p>Nguyễn Phạm Tuyên</p>
                                    <span>Khách Hàng quận 1</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="text">Tôi đã vay 10 triệu bằng đăng ký xe máy để đóng học phí đầu năm cho con sau khi được chị đồng nghiệp giới thiệu về FPlus. Tôi cảm thấy các bước vay tại hệ thống FPlus rất dễ dàng và nhanh chóng. Mọi thủ tục đều được nhân viên giải đáp đầy đủ. Tôi rất hài lòng vì chỉ chờ 15 phút đã </div>
                            <div class="author flex">
                                <div class="author__img"><img src="./assets/img/img-news8.jpg" alt=""></div>
                                <div class="author__content">
                                    <p>Nguyễn Phạm Tuyên</p>
                                    <span>Khách Hàng quận 1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="feedback__nav flex-lc">
                        <button type="button" class="feedback-prev"></button>
                        <div class="feedback-dots"></div>
                        <button type="button" class="feedback-next"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fplus-news aos-init" data-aos="fade" data-aos-duration="1000">
        <div class="container">
            <div class="header">
                <h2 class="title">Tin tức nổi bật</h2>
            </div>
            <div class="news-list pr">
                <div class="item">
                    <a href="" title="" class="img-thumb"><img src="./assets/img/img-news1.jpg" class="img-fit" alt=""></a>
                    <div class="content">
                        <time>20/03/2023</time>
                        <h3><a href="" title="">Đáo hạn ngân hàng là gì & Những điều bạn cần biết về ngày đáo hạn</a></h3>
                    </div>
                </div>
                <div class="item">
                    <a href="" title="" class="img-thumb"><img src="./assets/img/img-news2.jpg" class="img-fit" alt=""></a>
                    <div class="content">
                        <time>20/03/2023</time>
                        <h3><a href="" title="">Vay thế chấp là gì? Nên vay tín chấp hay vay thế chấp</a></h3>
                    </div>
                </div>
                <div class="item">
                    <a href="" title="" class="img-thumb"><img src="./assets/img/img-news3.jpg" class="img-fit" alt=""></a>
                    <div class="content">
                        <time>20/03/2023</time>
                        <h3><a href="" title="">So sánh lãi suất vay ngân hàng cập nhật mới nhất 2023</a></h3>
                    </div>
                </div>
                <div class="item">
                    <a href="" title="" class="img-thumb"><img src="./assets/img/img-news4.jpg" class="img-fit" alt=""></a>
                    <div class="content">
                        <time>20/03/2023</time>
                        <h3><a href="" title="">Tiết kiệm bậc thang là gì? Lãi suất tiền gửi tiết kiệm bậc thang</a></h3>
                    </div>
                </div>
                <div class="item">
                    <a href="" title="" class="img-thumb"><img src="./assets/img/img-news3.jpg" class="img-fit" alt=""></a>
                    <div class="content">
                        <time>20/03/2023</time>
                        <h3><a href="" title="">So sánh lãi suất vay ngân hàng cập nhật mới nhất 2023</a></h3>
                    </div>
                </div>
            </div>
            <a href="" title="Xem tất cả" class="btn-more flex-center">Xem tất cả</a>
        </div>
    </div>
    <div class="fplus-contact">
        <div class="container">
            <div class="contact flex">
                <div class="contact__img"><img src="./assets/img/img-contact.png" alt=""></div>
                <div class="contact__form">
                    <div class="header">
                        <h2 class="title">Liên hệ với chúng tôi</h2>
                        <p>Giải đáp mọi thắc mắc và yêu cầu của bạn</p>
                    </div>
                    <form action="" method="">
                        <div class="form-group f-input-effect">
                            <label>Họ và tên</label>
                            <input type="text" name="fullname" class="form-control">
                        </div>
                        <div class="form-group f-input-effect">
                            <label>Số điện thoại</label>
                            <input type="number" name="phone" class="form-control">
                        </div>
                        <button type="button" class="btn-submit flex-center">Gửi</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>