<main>
    <div class="page-news">
        <div class="fplus-breadcrumb">
            <ul class="breadcrumb container">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="bg-white">
                        <div class="news-highlight row">
                            <div class="col-md-8">
                                <article class="highlight-post">
                                    <a href="" title="" class="thumb"><img src="./assets/img/img-news5.jpg" class="img-fit" alt=""></a>
                                    <div class="content">
                                        <h3><a href="" title="">Chính sách bảo mật và quyền riêng tư công ty cổ phần tập đoàn Tima</a></h3>
                                        <p>Tima tuyển cộng tác viên số lượng lớn, công việc rất đơn giản, chỉ cần giới thiệu khách hàng có nhu cầu vay vốn cho Tima</p>
                                    </div>
                                </article>
                            </div>
                            <div class="highlight-list col-md-4">
                                <article class="post">
                                    <a href="" title="" class="post__thumb"><img src="./assets/img/img-news6.jpg" class="img-fit" alt=""></a>
                                    <h3><a href="" title="">F88 học theo mô hình kinh doanh của ai?</a></h3>
                                </article>
                                <article class="post">
                                    <a href="" title="" class="post__thumb"><img src="./assets/img/img-news7.jpg" class="img-fit" alt=""></a>
                                    <h3><a href="" title="">F88 huy động thành công 50 triệu USD vòng Series</a></h3>
                                </article>
                            </div>
                        </div>
                        <div class="news-list">
                            <article class="post flex">
                                <a href="" title="" class="post__thumb"><img src="./assets/img/img-news8.jpg" class="img-fit" alt=""></a>
                                <div class="post__content">
                                    <h3><a href="" title="">Tima khai trương Phòng giao dịch tại 2 tỉnh Hải Dương và Vĩnh Phúc</a></h3>
                                    <p>Ngày 10/12/2020, Tima chính thức cho khai trương 2 phòng giao dịch tại tỉnh Hải Dương và Vĩnh Phúc. Trước đó vào tháng 10/2020, phòng giao dịch Bắc Ninh cũng được mở trong hành trình mở rộng địa bàn phục vụ ra toàn quốc.</p>
                                </div>
                            </article>
                            <article class="post flex">
                                <a href="" title="" class="post__thumb"><img src="./assets/img/img-news9.jpg" class="img-fit" alt=""></a>
                                <div class="post__content">
                                    <h3><a href="" title="">Tima ra mắt tính năng định giá xe máy trên app My Tima</a></h3>
                                    <p>Ngày 10/12/2020, Tima chính thức cho khai trương 2 phòng giao dịch tại tỉnh Hải Dương và Vĩnh Phúc. Trước đó vào tháng 10/2020, phòng giao dịch Bắc Ninh cũng được mở trong hành trình mở rộng địa bàn phục vụ ra toàn quốc.</p>
                                </div>
                            </article>
                            <article class="post flex">
                                <a href="" title="" class="post__thumb"><img src="./assets/img/img-news8.jpg" class="img-fit" alt=""></a>
                                <div class="post__content">
                                    <h3><a href="" title="">Tima khai trương Phòng giao dịch tại 2 tỉnh Hải Dương và Vĩnh Phúc</a></h3>
                                    <p>Ngày 10/12/2020, Tima chính thức cho khai trương 2 phòng giao dịch tại tỉnh Hải Dương và Vĩnh Phúc. Trước đó vào tháng 10/2020, phòng giao dịch Bắc Ninh cũng được mở trong hành trình mở rộng địa bàn phục vụ ra toàn quốc.</p>
                                </div>
                            </article>
                            <article class="post flex">
                                <a href="" title="" class="post__thumb"><img src="./assets/img/img-news9.jpg" class="img-fit" alt=""></a>
                                <div class="post__content">
                                    <h3><a href="" title="">Tima ra mắt tính năng định giá xe máy trên app My Tima</a></h3>
                                    <p>Ngày 10/12/2020, Tima chính thức cho khai trương 2 phòng giao dịch tại tỉnh Hải Dương và Vĩnh Phúc. Trước đó vào tháng 10/2020, phòng giao dịch Bắc Ninh cũng được mở trong hành trình mở rộng địa bàn phục vụ ra toàn quốc.</p>
                                </div>
                            </article>
                        </div>
                        <button type="button" class="btn-more flex-center">Xem thêm</button>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="fplus-question">
                        <h3>Câu hỏi thường gặp</h3>
                        <ul class="question-list">
                            <li><a href="" title="">Vay tiền tại F88 thì cần các giấy tờ, thủ tục gì?</a></li>
                            <li><a href="" title="">Tôi không ra khỏi nhà do dịch bệnh, vậy làm sao F88 hỗ trợ tôi vay tiền được?</a></li>
                            <li><a href="" title="">Vay tiền tại F88 thì cần các giấy tờ, thủ tục gì?</a></li>
                            <li><a href="" title="">Chi phí vay tại F88 như thế nào?</a></li>
                            <li><a href="" title="">Kể từ lúc F88 nhận hồ sơ của tôi thì sau bao lâu tôi nhận được tiền?</a></li>
                            <li><a href="" title="">Chi phí vay tại F88 như thế nào?</a></li>
                        </ul>
                    </div>
                    <div class="fplus-newspaper">
                        <h3>Báo chí nói về Flus</h3>
                        <article class="post">
                            <div class="logo"><img src="./assets/img/ictnews.png" alt=""></div>
                            <a href="" title="" class="flex">
                                <img src="./assets/img/img-news6.jpg" class="thumb" alt="">
                                <span>Xu hướng “vay tiền online” tăng, cần tỉnh táo trước nguy cơ sập bẫy tín dụng đen</span>
                            </a>
                        </article>
                        <article class="post">
                            <div class="logo"><img src="./assets/img/dautu.png" alt=""></div>
                            <a href="" title="" class="flex">
                                <img src="./assets/img/img-news7.jpg" class="thumb" alt="">
                                <span>Đừng nhầm lẫn giữa sàn kết nối tài chính với các tổ chức tín dụng đen</span>
                            </a>
                        </article>
                        <article class="post">
                            <div class="logo"><img src="./assets/img/24h.png" alt=""></div>
                            <a href="" title="" class="flex">
                                <img src="./assets/img/img-news8.jpg" class="thumb" alt="">
                                <span>Tima ra mắt tính năng định giá xe máy trên app My Tima</span>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>