<main>
    <div class="fplus-banner fplus-banner--sm">
        <img src="./assets/img/banner.png" alt="">
    </div>
    <div class="fplus-breadcrumb">
        <ul class="breadcrumb container">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Đăng ký ô tô</li>
        </ul>
    </div>
    <div class="fplus-form pr">
        <div class="container">
            <div class="form-content row">
                <div class="col-md-6 aos-init" data-aos="fade-right" data-aos-duration="1000">
                    <div class="text">
                        <h1>Vay tiền bằng đăng ký/ cà vẹt xe ô tô</h1>
                        <p>Thời hạn khoản vay tối thiểu 3 tháng và tối đa 12 tháng.</p>
                        <p>Lãi suất vay trong hạn hàng năm tối đa 13,2%/năm</p>
                        <p>Ví dụ: Khách hàng vay bằng đăng ký xe máy 10.000.000đ trong 12 tháng với lãi suất vay là 1.1%/ tháng (chưa bao gồm các phí khác)</p>
                    </div>
                </div>
                <div class="col-md-6 aos-init"  data-aos="fade-left" data-aos-duration="1000">
                    <form action="" method="">
                        <div class="form-group">
                            <label>Họ và tên</label>
                            <input type="text" name="fullname" placeholder="Nhập họ tên" required>
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input type="number" name="phone" placeholder="Nhập số điện thoại" required>
                        </div>
                        <div class="form-group">
                            <label>Bạn muốn vay bằng</label>
                            <select name="" id="" class="select2-min">
                                <option>Bạn muốn vay bằng</option>
                                <option value="Đăng ký xe máy">Đăng ký xe máy</option>
                            </select>
                        </div>
                        <button type="button" class="btn-submit flex-center">Xác nhận</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="fplus-info-detail">
        <div class="header">
            <h2 class="title">Thông tin</h2>
            <p>Là gói vay tiền không cần thế chấp xe máy. Hỗ trợ vay tiền nhanh trong ngày cho khách hàng khi sử dụng gói vay tiền này.</p>
            <span>GÓI VAY TIỀN CHỈ CẦN ĐỂ LẠI GIẤY TỜ XE</span>
        </div>
        <div class="row flex-between">
            <div class="col-sm-6 col-md-5 aos-init" data-aos="fade-right" data-aos-duration="1000">
                <div class="icon"><img src="./assets/img/id-card.svg" alt=""></div>
                <h4>Điều kiện cầm đăng ký/ cà vẹt</h4>
                <ul class="check-list">
                    <li>Đăng ký/ Cà vẹt ô tô chính chủ</li>
                    <li>Hợp đồng mua bán công chứng/ Hóa đơn VAT/ Giấy xuất xưởng</li>
                    <li>CMND/CCCD hoặc hộ chiếu</li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-5 aos-init" data-aos="fade-left" data-aos-duration="1000">
                <div class="icon"><img src="./assets/img/stamp.png" alt=""></div>
                <h4>2. Thủ tục cầm đăng ký/ cà vẹt</h4>
                <ul class="check-list">
                    <li><span>Bước 1:</span> Đăng ký thông tin tư vấn</li>
                    <li><span>Bước 2:</span> Tư vấn qua điện thoại trong vòng 15 phút</li>
                    <li><span>Bước 3:</span> Đến PGD của F88 thẩm định tài sản và giải ngân nhanh chóng bằng tiền mặt hoặc chuyển khoản</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fplus-feature fplus-feature--cs">
        <div class="container">
            <div class="header">
                <h2 class="title">Tại sao lựa chọn Flus</h2>
                <p>Giải pháp tài chính đáng tin cậy</p>
            </div>
            <div class="feature-list flex">
                <div class="feature aos-init" data-aos="fade-up" data-aos-duration="1000">
                    <div class="feature__icon"><img src="./assets/img/icon-f1.svg" alt=""></div>
                    <div class="feature__text">15 phút là có tiền</div>
                </div>
                <div class="feature aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                    <div class="feature__icon"><img src="./assets/img/icon-f2.svg" alt=""></div>
                    <div class="feature__text">Bảo mật thông tin</div>
                </div>
                <div class="feature aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                    <div class="feature__icon"><img src="./assets/img/icon-f3.svg" alt=""></div>
                    <div class="feature__text">Hợp đồng minh bạch</div>
                </div>
                <div class="feature aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                    <div class="feature__icon"><img src="./assets/img/icon-f4.svg" alt=""></div>
                    <div class="feature__text">Nhiều khách hàng lựa chọn</div>
                </div>
            </div>
        </div>
    </div>
    <div class="fplus-faq">
        <div class="container">
            <div class="header aos-init" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="title">Câu hỏi thường gặp</h2>
            </div>
            <div class="faq-list aos-init" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>Công ty FPlus cho vay theo những hình thức gì?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside">
                            <ul>
                                <li>F88 là công ty cung cấp dịch vụ vay bằng hình thức cầm cố tài sản với mạng lưới 800+ PGD trên toàn quốc. Đặc biệt, đối với tài sản là xe máy và ô tô, F88 có hình thức hỗ trợ Khách hàng bằng cách cho Khách hàng mượn lại tài sản trong quá trình cầm cố để hỗ trợ khách hàng có phương tiện di chuyển.</li>
                                <li>Ngoài ra, F88 còn là công ty cung cấp rất nhiều sản phẩm bảo hiểm phi nhân thọ như Bảo hiểm sức khỏe, bảo hiểm tai nạn, bảo hiểm cứu hộ xe máy, bảo hiểm thân vỏ xe,…</li>
                                <li>Bên cạnh đó, để phục vụ tối đa nhu cầu tài chính cá nhân của Quý Khách hàng, F88 còn cung cấp các dịch vụ hỗ trợ các đơn vị trung gian thanh toán, đối tác bưu chính để Khách hàng thuận tiện sử dụng dịch vụ thanh toán momo, thanh toán tiền điện/nước và thanh toán Payoo, nhận hàng Lazada,…</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>Vay tiền tại F88 thì cần các giấy tờ, thủ tục gì?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside">

                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>Tôi không ra khỏi nhà do dịch bệnh, vậy làm sao F88 hỗ trợ tôi vay tiền được?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>Vay tiền tại F88 có bảo mật thông tin không?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>Công ty FPlus cho vay theo những hình thức gì?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>Chi phí vay tại F88 như thế nào?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside"></div>
                    </div>
                </div>
                <div class="item">
                    <div class="item__header flex-lc">
                        <h4>Kể từ lúc F88 nhận hồ sơ của tôi thì sau bao lâu tôi nhận được tiền?</h4>
                        <i class="icon icon-more"></i>
                    </div>
                    <div class="item__content">
                        <div class="inside"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>