:root{
  --hover: #cd9f00;
  --orange: #FF9F0D;
  --blue: #039AF5;
  --blue-hover: #0678bd;
  --SVN-Poppins-Medium: SVN-Poppins-Medium, sans-serif;
  --SVN-Poppins-Bold: SVN-Poppins-Bold, sans-serif;
  --SVN-Poppins-Light: SVN-Poppins-Light, sans-serif;
  --SVN-Poppins-SemiBold: SVN-Poppins-SemiBold, sans-serif;
}
body{
  background: #fff;
  font-family: SVN-Poppins-Regular, sans-serif;
  color: #001739;
  font-size: 16px;
  line-height: 1.4;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}

html,body{scroll-behavior: smooth;}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}

@font-face {
  font-family: SVN-Poppins-Medium;
  src: url("#{$font-path}/SVN-Poppins-Medium.ttf");
}
@font-face {
  font-family: SVN-Poppins-Bold;
  src: url("#{$font-path}/SVN-Poppins-Bold.ttf");
}
@font-face {
  font-family: SVN-Poppins-Light;
  src: url("#{$font-path}/SVN-Poppins-Light.ttf");
}
@font-face {
  font-family: SVN-Poppins-Regular;
  src: url("#{$font-path}/SVN-Poppins-Regular.ttf");
}
@font-face {
  font-family: SVN-Poppins-SemiBold;
  src: url("#{$font-path}/SVN-Poppins-SemiBold.ttf");
}

@mixin txt-1{font-size: 16px; line-height: 19px; font-weight: 700;}
@mixin hover{filter: saturate(1.9); -webkit-filter: saturate(1.9);}
@mixin txt-xs{font-size: 12px; line-height: inherit;}
@mixin txt-sm{font-size: 17px; line-height: 26px;}
@mixin txt-sp{font-size: 12px; line-height: 18px; color: #CACACA;}
@mixin txt-base{font-size: 16px; line-height: 24px;}
@mixin after-btn{
  content: "";
  width: calc(100% + 2px); height: 100%;
  border-radius: 4px;
  background: linear-gradient(#d2d2d2, rgba(#d2d2d2,0));
  position: absolute; top: -1px; left: -1px; z-index: -1;
}

@mixin hover{filter: saturate(2.1); -webkit-filter: saturate(2.1);}
a{transition: .25s;}
a:hover{text-decoration: none;}

//header
header{
  width: 100%; background: #fff; position: fixed; top: 0; max-width: 100vw; z-index: 9;
  &.scroll{box-shadow: 0 1px 4px rgba(#000,.18);}
  .navbar-toggle{display: none;}
}
.navbar{
  height: 100%; width: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: 18px 0;
  border-radius: 0; border: none;
  .logo{width: 118px;}
  .hotline{
    width: 156px; height: 40px;
    margin-left: auto;
    background: var(--orange);
    border-radius: 9999px;
    font: 14px/20px var(--SVN-Poppins-SemiBold);
    color: #fff;
    .icon-phone{width: 24px; height: 24px; margin-right: 8px; background: url('#{$img-path}/icon-phone.svg') no-repeat;}
  }
}

.navbar-collapse{
  padding: 0;
  .close{display: none;}
}
.navbar-nav{
  margin: 0 0 0 48px; align-items: center;
  >*+*{margin-left: 35px;}
  >li{position: relative; padding: 8px 0;}
  > li > a{display: block; font: 16px/24px var(--SVN-Poppins-Medium); color: #001739;}
  > li:hover .sub-menu{
    transform: translateY(0); opacity: 1; visibility: visible; z-index: 2;
  }
  li:hover a,.active{color: var(--orange);}
  .sub-menu{
    min-width: 240px;
    margin-top: 11px;
    padding: 10px;
    background: #FFFFFF;
    border: 0.5px solid #E1E1E1;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    position: absolute; left: -20px;
    opacity: 0; transform: translateY(15px); transition: .3s; visibility: hidden; z-index: -1;
    li{padding: 1px 0;}
    li a{display: flex; align-items: center; padding: 8px 12px; line-height: 20px; font-size: 14px; color: #001739;}
    li a:hover{
      background: #F8F8F8;
      border-radius: 8px;
    }
  }
  .icon{width: 32px; height: 32px; margin-right: 15px;}
  .icon-moto{background: url("#{$img-path}/icon-moto.svg") no-repeat 0 0/contain;}
  .icon-oto{background: url("#{$img-path}/icon-oto.svg") no-repeat 0 0/contain;}
}
//main
main{min-height: 78vh; padding-top: 76px;}
.fplus-banner{
  background: #f4f5f8; overflow: hidden;
  &.slick-slider{}
  img{display: block; max-width: 100%; margin: 0 auto; object-fit: cover;}
  .slick-slide img{width: 100%;}
  .slick-dots{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 70px;
    li{margin: 0 5px;}
    button{
      width: 14px; height: 14px;
      border-radius: 50%;
      border: 2px solid #fff;
      background: transparent;
      font-size: 0;
    }
    .slick-active button{background: #fff;}
  }
}
.fplus-service{
  &::after{
    content: "";
    width: 100%; height: 100%;
    background: linear-gradient(180deg, #F4F5F8 0%, rgba(244, 245, 248, 0) 37.2%);
    position: absolute; top: 54px; left: 0; z-index: -1;
  }
  .service{
    margin: -54px auto 0;
    background: #fff;
    padding: 54px 0 64px;
    border-radius: 8px;
  }
  h1{max-width: 458px; margin: 0 auto 32px; font: 28px/39px var(--SVN-Poppins-SemiBold); text-align: center;}
  .service-list{
    justify-content: center;
    li{margin: 0 .6%; width: 32%; max-width: 326px;}
    a{display: block; width: 100%; padding: 14px 5px; font-size: 16px; text-align: center; background: #F1F7FF; border-radius: 12px; color: #001739; border: 1.5px solid transparent;}
    a:hover,.active{border: 1.5px solid #039AF5;}
  }
  .tab-content{
    max-width: 1022px; margin: 0 auto;
    h3{margin-bottom: 26px; font: 22px var(--SVN-Poppins-Medium);}
    .btn-vayngay{
      width: 281px; height: 44px; max-width: 100%;
      background: #039AF5;
      border-radius: 9999px;
      font: 16px/20px var(--SVN-Poppins-SemiBold);
      color: #fff;
      &:hover{background: #0678bd;}
    }
  }
  .check-list{
    margin-bottom: 38px;
    >*+*{margin-top: 12px;}
    p,li{padding-left: 38px; font-size: 16px; line-height: 28px; position: relative; background: url('#{$img-path}/tick.svg') no-repeat top left;}
  }
  .pane{justify-content: space-between;}
  .pane-left{
    width: 40%;
  }
  .pane-right{width: 60%;}
  .img-wrapper{
    img{display: block; margin-left: auto;}
  }
}
.fplus-feature{
  margin: 58px 0 73px;
  .container{max-width: 1098px;}
  .header{
    border-top: 1px solid #E6E8E9;
    margin-bottom: 45px;
    padding-top: 48px;
    text-align: center;
    p{color: #4F5F76; font: 16px Inter, sans-serif;}
  }
  .feature-list{
    justify-content: space-between;
    .feature{
      text-align: center;
      &__icon{margin-bottom: 16px; display: flex; justify-content: center;}
      &__text{font: 16px Inter, sans-serif;}
    }
  }
  &--cs{
    margin: 0; padding: 62px 0;
    .header{padding-top: 0; border-top: none;}
    .feature-list{max-width: 1012px; margin: 0 auto;}
  }
}
.fplus-feedback{
  min-height: 533px;
  padding: 56px 0;
  h2.title{margin-bottom: 24px; text-align: left;}
  &::after,&::before{
    content: "";
    height: 100%;
    position: absolute; top: 0; z-index: -1;
  }
  &::before{width: 0%; background: #F1F7FF; left: 0;}
  &::after{width: 100%; background: #FFF7F3; right: 0;}
  .feedback{
    &__img{width: 39.1%;}
    &__content{width: 60.9%; padding-left: 72px;}
    &__list{
      &::before{
        content: "";
        width: 51px; height: 43px;
        display: block;
        margin-bottom: 16px;
        background: url("#{$img-path}/quote.svg") no-repeat 0 0/contain;
      }
    }
    .text{max-width: 493px; margin-bottom: 21px; line-height: 26px;}
    .author{
      margin-bottom: 32px;
      align-items: center;
      &__img{
        width: 55px; height: 55px;
        img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
      }
      &__content{padding-left: 15px;}
      p,span{display: block;}
      p{font: 16px var(--SVN-Poppins-Medium); line-height: 32px;}
      span{font-size: 12px; color: #657387; line-height: 19px;}
    }
  }
  .slick-arrow{
    width: 24px; height: 24px;
    background: #FFFFFF url("#{$img-path}/navigate_next.svg") no-repeat center center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    border-radius: 50%;
  }
  .feedback-prev{transform: rotate(180deg);}
  .slick-dots{
    display: flex; margin: 0 10px;
    li{margin: 0 5px; display: flex;}
    button{
      width: 10px; height: 10px;
      background: #E7E7E7;
      border-radius: 50%;
      font-size: 0;
    }
    .slick-active button{background: #039AF5;}
  }
}
.fplus-news{
  padding: 48px 0 58px;
  .header{margin-bottom: 36px;}
  .news-list{margin: 0 -14px;}
  .item{
    padding: 0 14px;
    border-radius: 12px;
    overflow: hidden;
    .img-thumb{display: block; height: 181px; border-radius: 12px 12px 0 0; overflow: hidden;}
    .content{min-height: 133px; padding: 20px 16px 7px; background: #F1F7FF; border-radius: 0 0 12px 12px;}
    time{display: block; margin-bottom: 8px; color: #4F5F76; font-size: 12px; line-height: 17px;}
    h3{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      font: 16px/22px var(--SVN-Poppins-Medium);
    }
    h3 a{color: #001739;}
    h3 a:hover{color: var(--orange);}
  }
  .slick-arrow{
    width: 56px; height: 56px;
    background: #FFFFFF url("#{$img-path}/icon-next.svg") no-repeat center center;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    font-size: 0;
    position: absolute; top: 26%; z-index: 2;
  }
  .slick-next{right: -14px;}
  .slick-prev{left: -14px; transform: rotate(180deg);}
  .btn-more{
    width: 281px; height: 44px;
    margin: 48px auto 0;
    background: var(--blue);
    border-radius: 9999px;
    font: 16px/20px var(--SVN-Poppins-SemiBold);
    color: #fff;
    &:hover{background: var(--blue-hover);}
  }
}
.fplus-contact{
  padding-top: 38px;
  background: url('#{$img-path}/bg-contact.jpg') no-repeat 0 0/cover;
  .header{
    margin-bottom: 40px;
    h2.title{text-align: left; color: #fff; font: 32px/45px var(--SVN-Poppins-SemiBold);}
    p{color: #C6D9FA; font: 18px/28px var(--SVN-Poppins-Medium);}
  }
  .contact{
    &__img{width: 45%;}
    &__form{
      width: 55%;
      padding: 63px 0 63px 28px;
    }
  }
  .f-input-effect{
    background: #fff;
    max-width: 466px; height: 56px;
    padding: 24px 16px 0;
    border-radius: 8px;
    position: relative;
    &.focus label,&.filled label{transform: translateY(0); top: 8px; font-size: 12px; line-height: 16px;}
    label{
      margin-bottom: 0;
      font-size: 14px; line-height: 20px; color: #889ABF;
      position: absolute; top: 50%; transform: translateY(-50%);
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      transform-origin: top left;
      cursor: auto;
    }
    input{
      height: 32px;
      border: none; background: none; padding: 0;
      color: #25282B;
      font-size: 14px; line-height: 20px;
      position: relative; z-index: 2;
    }
    input:focus{outline: none; box-shadow: none;}
  }
  .btn-submit{
    width: 100%; max-width: 466px;
    height: 56px;
    margin-top: 24px;
    background: #FFA100;
    border-radius: 9999px;
    color: #fff;
    font: 16px/24px var(--SVN-Poppins-SemiBold);
    &:hover{background: #e1920a;}
  }
}

//category
.fplus-form{
  &::after{
    content: "";
    width: 100%; height: 100%;
    background: linear-gradient(180deg, #F4F5F8 0%, rgba(244, 245, 248, 0) 77.2%);
    position: absolute; top: -56px; left: 0; z-index: -1;
  }
  h1{margin-bottom: 16px; font: 28px/39px var(--SVN-Poppins-SemiBold);}
  .form-content{
    margin: 0;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 60px 94px 30px;
  }
  .text{
    max-width: 386px;
    p{font-size: 14px; line-height: 24px; color: #4F5F76;}
  }
  form{
    font: 500 14px Inter, sans-serif;
    label{margin-bottom: 8px; display: block; line-height: 20px;}
    input,select,textarea{
      width: 100%;
      padding: 0 23px;
      height: 56px;
      background: #FFFFFF;
      border: 0.5px solid #B3B2B3;
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
      border-radius: 8px;
      &::placeholder{color: #949BA5;}
      &:focus{outline: none;}
    }
    textarea{height: 105px; padding: 15px 23px;}
    .btn-submit{
      width: 100%; height: 44px;
      margin-top: 20px;
      border-radius: 9999px;
      background: var(--blue);
      color: #fff;
      font: 16px var(--SVN-Poppins-SemiBold);
      &:hover{background: var(--blue-hover);}
    }
  }
}
.fplus-info-detail{
  max-width: 1012px;
  margin: 30px auto 0;
  background: #F4F6FA;
  padding: 40px 62px;
  border-bottom: 8px solid #E3EFFF;
  h4{margin-bottom: 20px; font: 18px/24px var(--SVN-Poppins-Medium);}
  .header{
    margin: 0 auto 30px;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid #D5E6FC;
    p, span{line-height: 27px;}
    p{max-width: 530px; margin: 0 auto; color: #4F5F76;}
    span{color: var(--blue); font-family: var(--SVN-Poppins-SemiBold);}
  }
  .check-list{
    >*+*{margin-top: 20px;}
    p,li{padding-left: 32px; color: #4F5F76; line-height: 22px; background: url("#{$img-path}/tick1.svg") no-repeat top left;}
    p span,li span{color: #001739; font-family: var(--SVN-Poppins-Medium);}
    &--fw{
      p,li{max-width: 95%;}
    }
  }
  .icon{
    margin-bottom: 10px;
    img{display: block; margin-left: 100px;}
  }
}
.fplus-faq{
  background: #FFF7F3;
  padding: 54px 0;
  .header{margin-bottom: 34px;}
  .faq-list{
    max-width: 1012px; margin: 0 auto;
    >*+*{margin-top: 12px;}
  }
  .item{
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 0 28px;
    &.show{
      .item__content{max-height: 1000px;}
      .icon-more{
        width: 24px; height: 24px;
        background: url("#{$img-path}/sb.svg") no-repeat center center;
      }
    }
    &__header{padding: 18px 0; cursor: pointer;}
    &__content{
      color: #4F5F76; font-size: 14px; line-height: 20px;
      max-height: 0;
      transition: max-height .4s;
      overflow: hidden;
      .inside{padding-bottom: 40px; }
      p,li{position: relative; padding-left: 22px;}
      p::before,li::before{
        content: "";
        width: 4px; height: 4px;
        background: #4F5F76;
        border-radius: 50%;
        position: absolute; left: 6px; top: 8px;
      }
    }
    h4{padding-right: 10px; font: 16px/22px var(--SVN-Poppins-Medium); flex: 1;}
    .icon-more{
      width: 24px; height: 24px;
      background: url("#{$img-path}/add.svg") no-repeat;
      margin-left: auto;
    }
  }
}
.page-news{
  background: #F9F9F9;
  padding-bottom: 45px;
  .bg-white{
    padding: 20px 20px 37px;
    &.detail{padding: 48px 112px;}
  }
  .highlight-post{
    .thumb{display: block; height: 345px;}
    .content{padding: 15px 0;}
    h3{margin-bottom: 16px; font: 20px/28px var(--SVN-Poppins-SemiBold);}
    p{color: #4F5F76; font-size: 14px;}
  }
  .highlight-list{
    border-left: 1px solid #E7E7E7;
    >*+*{margin-top: 25px;}
    .post{
      &__thumb{display: block; height: 170px; margin-bottom: 12px;}
      h3{font: 16px/22px var(--SVN-Poppins-SemiBold);}
    }
  }
  .news-list{
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #E7E7E7;
    .post{
      margin-bottom: 44px;
      &__thumb{width: 271px;}
      &__content{width: calc(100% - 271px); padding-left: 20px;}
      h3{margin-bottom: 12px; font: 18px/25px var(--SVN-Poppins-SemiBold);}
      p{font-size: 12px; line-height: 19px; color: #4F5F76;}
    }
  }
  .detail{
    h1{margin-bottom: 10px; font: 24px/34px var(--SVN-Poppins-SemiBold);}
    time{font-size: 12px; line-height: 22px; color: #7A7E83;}
    h4{margin-bottom: 16px; font: 16px/22px var(--SVN-Poppins-Medium); color: #001739;}
    article{
      margin-top: 24px; color: #4F5F76;
      font-size: 14px;
      line-height: 25px;
      p{margin-bottom: 20px;}
      p span{display: block;}
    }
  }
  h3 a{color: #001739;}
  h3 a:hover{color: var(--orange);}
  .btn-more{
    width: 100%; height: 48px;
    margin-top: -14px;
    background: #F6F8FB;
    border-radius: 9999px;
    color: #039AF5;
    font: 16px/20px var(--SVN-Poppins-SemiBold);
    &:hover{background: #f5f4f4;}
  }
}
.fplus-question,.fplus-newspaper{
  background: #fff; padding: 24px 24px 14px;
  h3{margin-bottom: 7px; font: 18px/24px var(--SVN-Poppins-SemiBold);}
}
.fplus-question{
  .question-list{
    >*+*{border-top: 1px solid #E6E8E9;}
    li{padding: 12px 0;}
    a{font-size: 14px; line-height: 20px; color: #001739;}
    a:hover{color: var(--orange);}
  }
}
.fplus-newspaper{
  margin-top: 24px;
  article{
    padding: 14px 0;
    border-bottom: 1px solid #E6E8E9;
    &:last-child{border-bottom: none;}
    .logo{margin-bottom: 12px; max-width: 52px;}
    a{align-items: flex-start;}
    .thumb{max-width: 94px;}
    span{max-width: calc(100% - 94px); margin-top: -5px; padding-left: 14px; font-size: 14px; line-height: 20px; color: #001739;}
    span:hover{color: var(--orange);}
  }
}
.fplus-explain{
  padding: 58px 0 0;
  .header{margin-bottom: 32px;}
  .explain{
    max-width: 1012px; margin: 0 auto;
    padding-bottom: 60px;
    justify-content: space-between;
    border-bottom: 1px solid #E6E8E9;
    &__text{width: 45%; padding-top: 12px; font-size: 14px; line-height: 25px; color: #4F5F76;}
    &__img{width: 48.4%;}
  }
}
.fplus-contact-page{
  border-bottom: 1px solid #E6E8E9;
  padding-bottom: 60px;
  &::after{
    content: "";
    width: 100%; height: 100%;
    background: linear-gradient(180deg, #F4F5F8 0%, rgba(244, 245, 248, 0) 57.2%);
    position: absolute; top: 56px; left: 0; z-index: -1;
  }
  .header{
    width: 100%; height: 320px;
    background: url('#{$img-path}/bg-contact.jpg') no-repeat 0 0/cover;
    padding-bottom: 70px;
    h1{font: 36px/40px var(--SVN-Poppins-SemiBold); color: #fff; text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.11); letter-spacing: -0.03em;}
  }
  .bg-white{
    background: #fff;
    border-radius: 8px;
    margin-top: -67px;
    padding: 19px 104px;
  }
  .contact-list{
    >*+*{margin-left: 2.7%;}
    .item{
      width: 100%; max-width: 38.3%;
      padding: 16px 20px;
      justify-content: center;
      align-items: center;
      background: #F4F6FA; border-radius: 8px; color: #001739; font: 14px/20px var(--SVN-Poppins-SemiBold);
      &:nth-child(1){max-width: 18%;}
    }
    .content{flex: 1;}
    .icon{width: 40px; margin-right: 14px;}
    h5{margin-bottom: 0; font-size: 14px;}
  }
  .note{
    max-width: 755px;
    margin: 50px 0 40px;
    font-size: 20px; line-height: 28px;
  }
  .fplus-breadcrumb{padding: 0;}
  .breadcrumb{padding: 16px 0;}
}
.fplus-map{
  width: 100%; min-height: 500px;
  margin-top: 28px;
  border: 1px solid #E8E8E8;
  padding: 15px;
  iframe{width: 100%; height: 460px;}
}

footer{
  padding: 40px 0 19px;
  background: #fff;
  color: #4F5F76;
  font-size: 14px; line-height: 24px;
  .logo{display: block; margin-bottom: 20px;}
  h4{margin-bottom: 7px; font: 14px/24px var(--SVN-Poppins-SemiBold); color: #001739;}
  .fplus-link{padding-top: 44px;}
  .fplus-info{
    h4{margin-bottom: 11px;}
    p{margin-bottom: 0; color: #4F5F76;}
    a{color: #4F5F76;}
  }
  .link{
    >*+*{margin-top: 8px;}
    a{font-size: 14px; line-height: 24px; color: #4F5F76;}
    a:hover{color: #000;}
  }
  .copyright{
    padding: 16px 0;
    margin-top: 34px;
    border-top: 1px solid #F2F2F2;
  }
  .contact-link{
    position: fixed;
    right: 15px; bottom: 15px;
    a{display: block;}
    >*+*{margin-top: 10px;}
  }
}

//uikit
.container{max-width: 1250px;}
.pr{position: relative;}
.pa{position: absolute;}
li{list-style: none;}
.icon{display: block;}
.bg-sh{
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
}
.bg-gr{
  background: linear-gradient(180deg, rgba(255, 198, 0, 0.1) 0%, rgba(50, 206, 157, 0.1) 100%), #082034;
  border: 1px solid rgba(#32CE9D,.3);
  border-radius: 15px;
}
h2.title{
  margin-bottom: 8px; font: 28px/39px var(--SVN-Poppins-SemiBold); text-align: center;
  span{color: #FF7E0C;}
}
.center{text-align: center;}
.txt-sm{font-size: 14px;line-height: 22px;}
.img-fit{width: 100%; height: 100%; object-fit: cover;}
.txt-pr{font-size: 16px; line-height: 19px; font-weight: 700;}
button{
  background: none; padding: 0; cursor: pointer; border: none; transition: .25s;
  &:focus{outline: none;}
}
.btn-pr{
  height: 39px;
  background: #FFC600;
  border-radius: 9999px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  &:hover{background: var(--hover);}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.box-table{
  overflow: auto;
  &::-webkit-scrollbar{width: 4px; height: 4px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}
.pagination{
  max-width: 1170px; margin: 20px auto 0;
  justify-content: flex-end;
  ul > *+*{margin-left: 6px;}
  .ofpage{margin-left: 6px; font-size: 16px; color: #B7B7B7;}
  .page-link{
    width: 18px; height: 18px;
    background: none;
    padding: 0; text-align: center;
    line-height: 18px;
    border: 0.5px solid rgba(183, 183, 183, 0.5);
    border-radius: 3px;
    color: #fff; font-weight: 700;
    &.disabled{opacity: .4;}
  }
  .icon{
    width: 6px; height: 9px; display: block; background: url("#{$img-path}/next-icon.png") no-repeat center center;
    &.prev{transform: rotate(180deg);}
  }
}
.fplus-breadcrumb{padding: 0 15px;}
.breadcrumb{
  margin-bottom: 0;
  background: none;
  padding: 16px;
  font-size: 14px; line-height: 24px;
  a{color: #4F5F76;}
  .breadcrumb-item.active{}
  .breadcrumb-item + .breadcrumb-item::before{content: ">";}
}
.modal-navbar{
  width: 100%; height: 100%;
  background: rgba(#000,.5);
  position: fixed; top: 64px; left: 0; z-index: -1; visibility: hidden; opacity: 0; transition: .3s;
  &.show{opacity: 1; z-index: 3; visibility: visible;}
}


@media (max-width: 1024px) {
  header{
    .navbar-toggle{display: block;}
  }
  .navbar{
    width: 100%; padding: 15px 0; justify-content: flex-start;
    .hotline{
      width: 132px; height: 34px; margin-right: 35px; padding-top: 1px;
      .icon-phone{margin-top: -1px;}
    }
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    position: fixed; top: 64px; left: -100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.18);
    width: 70%; height: calc(100% - 64px);
    max-width: 360px;
    background: #fff;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    &.show{left: 0;}
  }
  .navbar-toggle{
    display: block;
    width: 22px;
    height: 18px;
    padding: 0;
    background: none; border: none;
    position: absolute; right: 0;
    span{
      display: block; width: 22px; height: 2px; border-radius: 2px;
      background: #606060; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 22px; height: 2px; background: #606060; position: absolute; border-radius: 2px;
    }
    span:before{top: -8px;}
    span:after{bottom: -8px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 22px; transform: rotate(45deg);}
    span:after{width: 16px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    display: block;
    margin: 0;
    padding: 30px 20px;
    >*+*{margin: 0;}
    > li{padding: 15px 0;}
    > li > a{line-height: inherit;}
    a{font-size: 16px;}
    > li:hover .sub-menu{display: block;}
    .sub-menu{
      display: none;
      margin-top: 0;
      padding: 10px 0 0 15px;
      position: relative;
      border: none;
      box-shadow: none;
    }
  }

  //main
  main{padding-top: 64px;}
  .fplus-contact{
    .contact{align-items: flex-end;}
  }
  .fplus-feedback{
    .feedback{
      &__content{padding-left: 20px;}
    }
  }
  .fplus-service{
    .pane-right{padding-left: 15px;}
  }
  .fplus-feature{
    .feature{width: 25%;}
  }
  .fplus-news{
    .news-list{margin: 0 -7px;}
    .item{
      padding: 0 7px;
      .img-thumb{height: 160px;}
    }
  }
  .fplus-newspaper{
    article span{margin-top: 0;}
  }
  .fplus-form{
    .text{margin-bottom: 30px;}
  }
  .fplus-contact-page{
    .bg-white{padding: 20px 30px;}
    .header{height: 240px;}
    .contact-list{
      >*+*{margin-left: 2%;}
      .item{padding: 16px; max-width: 34%;}
      .item:nth-child(1){max-width: 28%;}
      .icon{width: 30px; margin-bottom: 10px;}
      .content{flex: inherit; width: 100%; text-align: center;}
      span{word-break: break-word;}
    }
  }
  .fplus-breadcrumb{padding: 0;}
}


@media (max-width: 768px) {

}

@media (max-width: 640px) {
  .fplus-banner{
    img{min-height: 280px;}
    &--sm{
      img{min-height: 180px;}
    }
    .slick-dots{
      bottom: 48px;
      button{width: 10px; height: 10px; }
    }
  }
  .fplus-service{
    &::after{top: 35px;}
    h1{font-size: 22px; margin-bottom: 22px; line-height: inherit;}
    .service{ padding: 40px 10px; margin-top: -35px;}
    .service-list{
      li{margin: 1%; width: 46%;}
      a{padding: 12px 5px; font: 13px var(--SVN-Poppins-Medium);}
    }
    .check-list{margin-bottom: 48px;}
  }
  .fplus-contact{
    .header{max-width: 466px; margin: 0 auto 40px;}
    .contact{
      flex-direction: column-reverse;
      &__form{width: 100%; padding: 0;}
      &__img{width: 65%; margin: 20px auto 0;}
    }
    .f-input-effect{margin: 0 auto 1rem;}
    .btn-submit{margin: 24px auto 0;}
  }
  .fplus-feedback{
    .feedback{
      &__list::before{width: 41px; height: 35px;}
      .text{font-size: 14px;}
    }
  }
  .fplus-news{
    .slick-arrow{width: 40px; height: 40px;}
    .slick-prev{left: -6px;}
    .slick-next{right: -6px;}
    .item{
      h3{font-size: 14px; line-height: 1.4;}
      .img-thumb{height: 32vw;}
    }
  }
  .fplus-info-detail{
    padding: 40px 15px;
  }
  .fplus-form{
    h1{font-size: 24px; line-height: inherit;}
    .form-content{padding: 40px 0 30px;}
    form{
      input{height: 50px; padding: 0 16px;}
    }
  }
  .fplus-explain{
    .explain{
      flex-direction: column-reverse;
      &__text,&__img{width: 100%;}
      &__img{
        margin-bottom: 20px;
        img{display: block; margin: 0 auto;}
      }
    }
  }
  .page-news{
    .bg-white{
      padding: 15px;
      &.detail{padding: 20px 15px; margin-bottom: 15px;}
    }
    .highlight-list{
      border-left: none;
      .post{
        &__thumb{height: 45vw;}
      }
    }
    .highlight-post{
      margin-bottom: 15px;
      .thumb{height: 50vw;}
      h3{font-size: 18px; line-height: 24px;}
    }
    .news-list{
      .post{
        &__thumb{width: 40%;}
        &__content{width: 60%;}
      }
    }
  }

  h2.title{font-size: 24px; line-height: inherit;}
}

@media (max-width: 480px) {
  .fplus-banner{
    img{min-height: 180px;}
    &--sm{
      img{min-height: 160px;}
    }
  }
  .fplus-service{
    .pane{flex-direction: column-reverse;}
    .pane-left,.pane-right{width: 100%; padding: 0;}
    .pane-right{margin: 0 auto 30px; max-width: 90%;}
    .tab-content{
      .btn-vayngay{margin: 0 auto;}
    }
  }
  .fplus-feature{
    margin: 48px 0;
    &--cs{margin: 0; padding: 45px 0 30px;}
    .feature{width: 50%; margin-bottom: 30px;}
    .feature-list{
      .feature{
        &__icon{margin-bottom: 10px;}
        &__text{font-size: 14px;}
      }
    }
  }
  .fplus-feedback{
    padding: 30px 0;
    .feedback{
      &__img{width: 90%; margin: 0 auto 20px;}
      &__content{width: 100%;}
    }
  }
  .fplus-contact{
    .header{
      margin-bottom: 30px;
      h2.title{font-size: 28px; line-height: inherit;}
      p{font-size: 14px;}
    }
    .f-input-effect{
      height: 50px; padding: 20px 16px 0;
      input{height: 30px;}
      &.focus,&.filled{
        label{font-size: 11px; line-height: 14px; top: 6px;}
      }
    }
    .btn-submit{height: 50px;}
  }
  .fplus-info-detail{
    .header{
      p{margin-bottom: 5px;}
      p,span{line-height: 22px; font-size: 14px;}
    }
    .row > *+*{margin-top: 30px;}
    .col-sm-6{
      display: flex; flex-direction: column;
    }
    .icon img{margin-left: 0;}
    .check-list{
      p,li{font-size: 14px; line-height: 20px;}
    }
  }
  .fplus-contact-page{
    .header{
      height: 200px;
      h1{font-size: 30px; line-height: 36px;}
    }
    .bg-white{padding: 20px 15px;}
    .contact-list{
      >*+*{margin: 10px 0 0;}
      .item{padding: 10px; max-width: 100%;}
      .item:nth-child(1){max-width: 100%;}
    }
    .note{font-size: 18px;}
  }
  .fplus-faq{
    .item{
      padding: 0 15px;
      h4{font-size: 14px; line-height: 20px;}
    }
  }
  .fplus-map{
    min-height: 360px;
    iframe{height: 340px;}
  }
  .page-news{
    .news-list{
      .post{
        margin-bottom: 30px;
        &__thumb,&__content{width: 100%;}
        &__content{padding: 15px 0 0;}
      }
    }
  }
  footer{
    .link{
      max-height: 0;
      overflow: hidden;
      transition: max-height .4s;
    }
    .copyright{margin-top: 10px;}
    .fplus-info{padding-bottom: 20px;}
    .fplus-link{
      padding-top: 10px;
      .link{padding-left: 10px;}
      h4{position: relative;}
      h4::after{
        content: "";
        width: 14px; height: 8px;
        background: url("#{$img-path}/arrow-select.svg") no-repeat;
        position: absolute; right: 0; top: 50%; transform: translateY(-50%);
      }
      &.show{
        .link{max-height: 1000px;}
        h4::after{transform: translateY(-50%) rotate(180deg);}
      }
    }
  }
}

//select-min2
//custom select2.min.js
.select2-container{
  width: 100% !important;
  background: none;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  &:focus{outline: none;}
}
.selection,.select2-selection{
  &:focus{outline: none;}
}
.select2-container .select2-selection--single .select2-selection__rendered{
  padding-left: 0;
  color: #949BA5;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple{border-radius: 12px;}
.select2-container .select2-selection--single{height: 56px; width: 100%; padding: 0 22px;}
.select2-container--default .select2-selection--single{border: 0.5px solid #B3B2B3; background: none; border-radius: 8px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 56px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{height: 56px; width: 30px;}
.select2-search--dropdown{display: none;}
.select2-container--default .select2-results__option--selected{background: #e0e0e0 !important; color: var(--blue) !important;}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{background: none; color: #212121;}
.select2-container--default .select2-results__option:hover{background: #efefef; color: #212121;}
.select2-container--open{
  .select2-dropdown--below,.select2-dropdown--above{
    min-width: 200px;
    padding: 16px;
    margin-top: 4px;
    background: #fff;
    box-shadow: 1px 4px 24px rgba(209, 209, 209, 0.25);
    border-radius: 8px;
    border: 1px solid #D5D5D7;
  }
}
.select2-container--default .select2-results > .select2-results__options{
  padding: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  width: 24px; height: 24px;
  background: url("#{$img-path}/arrow-down.svg") no-repeat 0 0/contain;
  top: 50%; transform: translateY(-50%); left: 0;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-width: 0;
  transform: translateY(-50%) rotate(180deg);
}
.select2-container--default .select2-results>.select2-results__options{
  padding: 0; background: #fff; border-radius: 8px;
  >*+*{margin-top: 16px;}
  overflow: auto;
  &::-webkit-scrollbar{width: 3px;}
  &::-webkit-scrollbar-track{background: #fcfcfc;}
  &::-webkit-scrollbar-thumb{background: #ccc;}
}
.select2-results__option{
  padding: 0;
  font-weight: 400;
  font: 14px Montserrat, sans-serif;
  line-height: 20px;
  color: #4E4C50
}
.select2-container--default .select2-results__option[aria-selected=true]{background: none;}
.select2-container--default .select2-results__option--highlighted[aria-selected]{
  background: none;
  padding-right: 18px;
  color: #4E4C50; text-shadow: .5px 0 0 currentColor;
}

@media (max-width: 640px) {
  .select2-container .select2-selection--single,.select2-container--default .select2-selection--single .select2-selection__arrow{height: 50px;}
  .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 50px;}
  .select2-container .select2-selection--single{padding: 0 16px;}
}

//animate
.js-animation{
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0; visibility: hidden;
}

@-webkit-keyframes zoomInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInRight {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInRight {
  -webkit-animation-name: zoomInRight;
  animation-name: zoomInRight;
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

@-webkit-keyframes color {
  0%{
    background: linear-gradient(90.9deg, #29B4EC 0.23%, #2AC6D0 29.64%, #5A20FF 101.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  10%{
    background: linear-gradient(90.9deg, #2AC6D0 0.23%, #5A20FF 29.64%, #29B4EC 101.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20%{
    background: linear-gradient(90.9deg, #5A20FF 0.23%, #2AC6D0 29.64%, #5A20FF 101.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  30%{
    background: linear-gradient(90.9deg, #29B4EC 0.23%, #2AC6D0 29.64%, #5A20FF 101.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40%{
    background: linear-gradient(90.9deg, #2AC6D0 0.23%, #5A20FF 29.64%, #29B4EC 101.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50%{
    background: linear-gradient(90.9deg, #5A20FF 0.23%, #2AC6D0 29.64%, #5A20FF 101.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60%{
    background: linear-gradient(90.9deg, #29B4EC 0.23%, #2AC6D0 29.64%, #5A20FF 101.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  70%{
    background: linear-gradient(90.9deg, #2AC6D0 0.23%, #5A20FF 29.64%, #29B4EC 101.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80%{
    background: linear-gradient(90.9deg, #5A20FF 0.23%, #2AC6D0 29.64%, #5A20FF 101.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  90%{
    background: linear-gradient(90.9deg, #29B4EC 0.23%, #2AC6D0 29.64%, #5A20FF 101.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100%{
    background: linear-gradient(90.9deg, #29B4EC 0.23%, #2AC6D0 29.64%, #5A20FF 101.51%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50%{
    -webkit-filter: saturate(1.6);
    filter: saturate(1.6);
  }
  100%{
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}